html,
body {
  margin: 0;
  padding: 0;
}

.task {
  font-size: 0.8rem;
  width: 100%;
  height: 100px;
  background-color: #bbb;
  text-align: center;
  padding: 3px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
